body {
	margin: 50px;
    font-size: 14px;
    line-height: 1.5;
    color: #33363A;
    background-color: #fff;
    overflow-y: scroll;
    font-family: Raleway,Helvetica,sans-serif;
}
.centeredIcon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #D7DBDD;
	font-size: 40px;
	width: 90px;
	height: 90px;
	border-radius: 100%;
	box-shadow:
		0 2px 1px rgba(0,0,0,0.05),
		0 2px 3px rgba(0,0,0,0.05),
		0 4px 8px rgba(0,0,0,0.05);
}